.console {
  background-color: rgba(255,86,60,0.3);
  width: 500px;
  min-height: 30px;
  color: white;
  position: absolute;
  top: 5px;
  left: 200px;
}
html {
  overflow: hidden;
}

#cursor {
    position: absolute;
    z-index: 99999999;
    display: block;
}
.sans {
  font-family: 'Roboto', sans-serif;
}
.calls {
  font-size: 14px;
  text-align: right;
  background-color: yellow;
  color: black;
}
.active {
  color: red;
  font-weight:bold;
}
.notactive {
  color: 	#660000;
}
h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 120;
  right: 40;
  width: 300px;
  height: 200px;
}
.green {
  color: rgb(0, 125, 0);
  font-weight: 700;
  margin-right: 6px;
}
.red {
  color: rgb(255, 0, 0);
}
#pre {
  font-size: 0.8rem;
  margin-right: 5px;
}

.full-screen {
  width: 60%;
  height:100%;
  position: absolute;
  right: 0px;
  bottom: 000px;
  display: none;
  align-items: center;
}

.dispatch-container {
  width: 90%;
  border: 15px solid #666;
  background-color: black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 9999999;
}
.header {
  width:100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer {
  width:100%;
  background-color: grey;
  color: white;
  bottom: 0px;
  display: block;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-right h3 {
  float: right;
  margin-top: 30px;
}
.body {
  width: 100%;
  max-height: 500px;
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  overflow: scroll;
}
/* Call ID */
.column-one {
 width: 5%;
}
/* Call Age */
.column-two {
  width: 10%;
 }
/* Call Phone Number */
 .column-three {
  width: 10%;
 }
/* Call Location */
 .column-four {
  width: 15%;
 }
/* Call Description */
 .column-five {
  width: 40%;
 }
/* Call Responders */
 .column-six {
  width: 10%;
 }
/* Call Respond */
 .column-seven {
  width: 5%;
 }
/* Call Resolve */
 .column-eight {
  width: 5%;
 }
/* Wanted ID */
.column-oneb {
width: 4%;
}
/* First Name */
.column-twob {
 width: 8%;
}
/* Last Name */
.column-threeb {
 width: 8%;
}
/* Registration */
.column-fourb {
 width: 8%;
}
/* Suspect Description */
.column-fiveb {
 width: 20%;
}
/* Wanted Crimes */
.column-sixb {
 width: 37%;
}
/* Inserted By */
.column-sevenb {
 width: 7%;
}
/* Date Entered*/
.column-eightb {
 width: 8%;
}

.body::-webkit-scrollbar { width: 0 !important }

.centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
}
.number-display p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
.form {
  max-width: 74%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.table{
  width: 100%;
  border: 3px solid black;
  border-style: solid;
  color: white;
}

.table td{
  font-size: 14px;
  text-align: right;
  background-color: yellow;
  color: black;
  word-break:break-word;
}

a{
  color: black;
  text-decoration: none;
}
